<style>
    footer {
        background-color: #212529;
        color: #fff;
        padding: 40px 0;
        position: fixed;
        bottom: 0;
        width : 100% ;
    }
    
    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-links a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
        font-size: 16px;
        transition: color 0.3s ease;
    }
    
    .footer-links a:hover {
        color: #007bff;
    }
    
    .social-icons a {
        color: #fff;
        text-decoration: none;
        margin-right: 15px;
        font-size: 20px;
        transition: color 0.3s ease;
    }
    
    .social-icons a:hover {
        color: #007bff;
    }
    
    .bottom-footer {
        text-align: center;
        margin-top: 20px;
    }
    
    .bottom-footer p {
        margin: 0;
    }
    
</style>

<footer>
    <div class="footer-content">
        <div class="footer-links">
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'contact_us' %}">Contact Us</a>
        </div>
        <div class="social-icons">
            <a href="https://github.com/OmarMuhammed11/EventBooking.git"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/Om_1089"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/OmarMuhammed11/EventBooking.git"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="bottom-footer">
        <p>&copy; 2024 Omar's. All rights reserved.</p>
    </div>
</footer>


