
{% extends "layouts/base.html" %}
{%block title%} Event Book {%endblock title%}
{% block stylesheets %}
<style>
    body{
        background : #46565A;
    }
    h1,h2,h3{
        text-align: left;
        color: white;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        background : white
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

{% endblock stylesheets %}

{% block content %}
<body>
   <h1>Here you can Book Events</h1>
<table>
    <tr>
    <th>Event Name</th>
    <th>Event Date</th>
    <th>Event Location</th>
    <th>Event Attendees</th>
    </tr>
    
    {% for event in events %}
    <tr>
    <td><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></td>
    <td>{{event.date}}</td>
    <td>{{event.location}}</td>
    <td>{{event.num_attendees}}</td>
    </tr>
    {% endfor %}

</table>
</body>
{% endblock content %}

