{% extends "layouts/base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        {% if form.instance.pk %}Update Event{% else %}Create Event{% endif %}
    
    {% endblock title %}
</head>
{% block stylesheets%}
<style>
    body{
        background : #46565A;
    }
</style>
{% endblock stylesheets%}

{% block content %}
<body>
    <h1>{% if form.instance.pk %}Update Event{% else %}Create Event{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</body>
{% endblock content %}
</html>
